body {
    font-family: sans-serif;
 }

 header{
    /*Enter your code here*/
     background-color: #186CA3;
     color:white;
     padding:1%;
    }
 
#pagecontainer{
   display:flex;
   flex-direction:row;
   width:100%;
   height:100vh;  
}

#menu{
   flex:20%;
   max-width:20%;
   background-color: silver;
}

#dashboard{
   flex:80%;
   max-width:80%;
   background-color:whitesmoke;
   display:flex;
   flex-direction:column;
}

.add-board-block{
   display:flex;
   flex-direction:row;
   width:100%;
}

form{
   display:flex;
   flex-direction:row;
   width:100%;
   justify-content: flex-start;
}

#searchBoard{
   padding:1%;
   width:70%;
   margin:20px;
   margin-left:30px;
   font-size:14px;
}

#add-board-btn{
   background-color: #1db954;
   color:white;
   font-size:16px;
   font-weight:600;
   padding:1%;
   margin:20px;
   margin-left:10px;
   cursor: pointer;
   width:20%;
}
