/* Write all your styles here */
body{
    display:flex;
    flex-direction:column;
    font-family:Sans-Serif;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #333;
}

.container{
    display:flex;
    flex-direction:column;
    width:30%;
    justify-content:center;
}

h1{
    text-align:center;
    padding:10px;
}

a {
    font-size: 14px;
    color: #186CA3;
    text-decoration: none;
}

form {
    display:flex;
    flex-direction:column;
    justify-content: center;
}

label{
    font-weight:bold;
    margin:10px 0;
}

input{
    padding:2%;
}

.Sub-button{
    background-color: #1db954;
    border-radius:300px;
    color:#fff;
    font-size:16px;
    font-weight:600;
    padding:2%;
    margin-top:20px;
    cursor: pointer;
    border:1px solid transparent;
    transition-duration: .3s;
}

.Sub-button:hover {
  background-color: #1ed760;
}